
.test {
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

#project-title {
  text-align: center;
}

th .editable {
  font-size: 20px;
}

th .inEdit {
  font-size: 20px;
}

.button-delete-table {
  position: relative;
  width: 6rem;
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
}

body::after {
  opacity: 0;
}

.shepherd-element.shepherd-open,
.shepherd-target.shepherd-enabled {
  z-index: 10000000;
  position: relative;
}

body.shepherd-active::after {
  content: "";
  display: block;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-project-name {
  text-align: center;
}

.editable {
  cursor: pointer;
}

.row {
  margin: 100px;
}

.table-initial-content {
  width: 20%;
}

.content-index {
  font-weight: 500;
}

.requirement-title-align {
  display: flex;
  justify-content: space-between;
}

th {
  border: 1px #dfdfdf solid;
}

.buttons {
  width: 100%;
  left: 0;
  text-align: center;
}

.buttons .btn {
  height: 3.5rem;
  margin-left: 5px;
  border-radius: .4rem;
}

.footer {
  position: relative;
  margin: 75px 50px 0px 0px;
}

.footer-table {
  width: 100%;
}

.footer-center {
  text-align: center;
  margin-top: 20px;
  margin-left: 60px;
  display: block;
}

.footer-text {
  margin-top: 20px;
}