.row {
    padding: 20px;
}
.table-initial-content {
    width: 20%;
}

.content-index {
    font-weight: 500;
}

.requirement-title-align {
    display: flex;
    justify-content: space-between;
}

.btn-add {
    margin: 13px;
}