.test {
  background-color: transparent;
  border: none;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}
#project-title {
  text-align: center;
}
.button-delete-table {
  margin-right: 10px;
}
body::after {
  opacity: 0;
}

.table-requirements {
}

.shepherd-element.shepherd-open,
.shepherd-target.shepherd-enabled {
  z-index: 10000000;
  position: relative;
}

body.shepherd-active::after {
  content: "";
  display: block;
  background-color: #000;
  opacity: 0.4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-project-name {
  text-align: center;
}
.editable {
  cursor: pointer;
}
.row {
  padding: 40px;
}
.table-initial-content {
  width: 20%;
}

.content-index {
  font-weight: 500;
}

.requirement-title-align {
  display: flex;
  justify-content: space-between;
}
th {
  border: 1px #dfdfdf solid;
}
.btn-add {
  margin: 13px;
}
